DATABASE_URI=
SECRET_KEY=
# Spotify API
SPOTIFY_REDIRECT_URL=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
# Exercise API
EXERCISE_API_KEY=
EXERCISE_API_HOST=
# Add other environment variables as needed
API_URL=
GEMINI_API_KEY=
DEFAULT_SPOTIFY_USER_PASSWORD=
ACCESS_TOKEN_EXPIRE_MINUTES=